#clock{
    font-family: sans-serif;
    font-size: 60px;
    text-shadow: 0px 0px 25px #fe019a;
    color: #fff;
}

.clock-container{
    background-color: rgb(132, 0, 0);
    padding: 25px;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5%;
}

#date{
    letter-spacing: 10px;
    font-size: 15px;
}

.animation{
    border: rgb(254, 1, 154) 3px solid;
}

#title{
    font-family: sans-serif;
    font-size: 25px;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0px 0px 10px #fe019a;
}